{% extends 'base.html.twig' %}

{% block title %}Hello {{ pageTitle }}!{% endblock %}

{% block body %}

<div class="row">
    <div class="col-4 hor-center">
        <h2>Üdv {{ pageTitle }}on!</h2>
    </div>
</div>
{% endblock %}
