
.hor-center {
    /*position: relative;*/
    margin: 0 auto;    
}

.middle-box {
    margin-top: 15%;
}

.wrapp-msg {
    white-space: nowrap; 
    width: 15rem; 
    overflow: hidden;
    text-overflow: ellipsis;
}

.alert {
    ul{
       margin-bottom: 0; 
    }
}