{% extends 'base.html.twig' %}

{% block title %}New Users{% endblock %}

{% block body %}
    <h2>Új {{ pageTitle }} létrehozása</h2>

    {{ include('users/_form.html.twig') }}

    <a href="{{ path('app_users_index') }}" class="btn btn-outline-primary">Vissza a listára</a>
{% endblock %}
